<table class="navigation col-4 text-center">
    <tr><td><a href="flash" class="btn btn-primary btn-lg">The Flash</a></td></tr>
    <tr><td><a href="superman" class="btn btn-primary btn-lg">Superman</a></td></tr>
    <tr><td><a href="batman" class="btn btn-primary btn-lg">Batman</a></td></tr>
    <tr><td><a href="wonderwoman" class="btn btn-primary btn-lg">Wonder Woman</a></td></tr>
    <tr><td><a href="greenlantern" class="btn btn-primary btn-lg">Green Lantern</a></td></tr>
    <tr><td><a href="aquaman" class="btn btn-primary btn-lg">Aquaman</a></td></tr>
    <tr><td><%= link_to "Home", root_path %></td></tr>
</table>
